
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle{
  background-color: white;
  width: 30px;
  height: 150px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  left: 10px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
}

#paddleRight {
  right: 10px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
}

#ball {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left:435px;
  top: 235px;
}